<div class="uflow5_indexright_box">
    <div class="right_div_head"><a href="javascript:;">派车</a> &gt; <a href="javascript:;">新建派车单</a></div>
    <div class="uflow5_indexright" id="right_div">
        <!-- 动作按钮条 -->
        <div class="top_button clearfix">
            <div class="w960 bc ">
                <h3 class="fl">创建工单</h3>
                <!-- 左侧按钮 -->
                <p id="top_button_left" class="fl">
                </p>
                <!-- 右侧按钮 -->
                <p id="top_button_right" class="fr">
                    <a href="javascript:void(0)" id="tb_submit" title="提交" class="smit" ng-click="submitNumber()">提交</a>
                    <a href="javascript:void(0)" id="tb_submit" title="提交" class="smit" target="_blank" ui-sref="printSend">提交并打印</a>
                </p>
            </div>
        </div>
        <!-- 流转路线条 -->
        <!-- <div id="transitionContainer" class="top_button_nr "></div> -->
        <!-- 中央布局 -->
        <div class="center" style="top: 10px;">
            <!--表单、底部按钮 -->
            <div class="border01 bg_grey handprocess">
                <!-- 表单 -->
                <form id="uflowForm" name="form" ng-submit="submitForm()" novalidate="novalidate">
                    <!-- 基本信息 -->
                    <div class="handprocess_order">
                        <h3 class="pr">基本信息</h3>
                        <div id="anchor_基本信息"></div>
                        <ul class="clearfix" style="position: relative; z-index: 300;">
                            <li id="field_title" class="li_form" style="width: 462px;">
                                <label for="&amp;title" class="editableLabel">
                                    <span class="red">*</span>标题：</label>
                                <input type="text" class="InpText f12 required" value="" style="width: 308px;" ng-model="titleTxt">
                            </li>
                            <li id="field_station_id" class="li_form uic_form_select" style="width: 462px; display: list-item;">
                                <label class="authoritylab  editableLabel" for="station_id">
                                    <span style="color: red;">*</span>服务站：</label>
                                <div class="selectDiv">
                                    <input id="station_id" name="station_id" disabled="disabled" style="width:308px" class="authorityInp uicSelectInp  required" ng-model="serveList.name" ng-bind="serveI(serveList)">
                                    <!-- <a class="uicSelectMore" href="javascript:void(0);" style="display: inline;" ng-click="serveSelect()"></a>
                                    <div id="serveShow" ng-show="serveShow" class="uicSelectData" style="max-height:254px;width:318px">
                                        <ul>
                                            <li class="licheck">
                                                <i ng-bind="serveList.name" ng-click="serveI(serveList)"></i>
                                            </li>
                                        </ul>
                                    </div> -->
                                </div>
                            </li>
                        </ul>
                        <ul class="clearfix" style="position: relative; z-index: 299;">
                            <li id="field_line_id" class="li_form uic_form_select" style="width: 462px; display: list-item;">
                                <label class="authoritylab  editableLabel" for="line_id">
                                    <span style="color: red;">*</span>配送线路：</label>
                                <div class="selectDiv">
                                    <input name="line_id" id="sendpath" readonly="true" style="width:308px" class="authorityInp uicSelectInp  required" value="" ng-model="pathTxt">
                                    <a class="uicSelectMore" href="javascript:void(0);" style="display: inline;" ng-click="pathSelect()"></a>
                                    <div id="pathShow" ng-show="pathShow" class="uicSelectData" style="max-height:254px;width:318px">
                                        <ul>
                                            <li ng-repeat="path in pathList">
                                                <i ng-bind="path.lineName" ng-click="pathI(path)"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li id="field_line_sn_id" class="li_form uic_form_select" style="width: 462px; display: list-item;">
                                <label class="authoritylab  editableLabel" for="line_sn_id">
                                    <span style="color: red;">*</span>班次：</label>
                                <div class="selectDiv">
                                    <input name="line_sn_id" readonly="true" style="width:308px" class="authorityInp uicSelectInp  required" value="" ng-model="classesTxt">
                                    <a class="uicSelectMore" href="javascript:void(0);" style="display: inline;" ng-click="classesSelect()"></a>
                                    <div id="classesShow" ng-show="classesShow" class="uicSelectData" style="max-height:254px;width:318px">
                                        <ul>
                                            <li ng-repeat="classes in classesList">
                                                <i ng-bind="classes.runTime" ng-click="classesI(classes)"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- 车辆信息 -->
                    <div class="handprocess_order">
                        <h3 class="pr">车辆信息</h3>
                        <div id="anchor_车辆信息"></div>
                        <ul class="clearfix" style="position: relative; z-index: 297;">
                            <li id="field_dispath_account_id" class="li_form uflow_searchtype" style="width: 462px; display: list-item;">
                                <label class="authoritylab  editableLabel" for="dispath_account_id">
                                    <span style="color: red;">*</span>配送员：</label>
                                <div class="searchtypeDiv selectDiv">
                                    <input id="dispath_account_id" name="dispath_account_id" class="searchtypeInp authorityInp uicSelectInp  required" style="width:308px" value="" ng-model="deliveryTxt" ng-focus="deliverySelect()">
                                    <div class="searchtypeMore">
                                        <!-- <a class="loading" href="javascript:void(0);"></a> -->
                                    </div>
                                    <div id="deliveryShow" ng-show="deliveryShow" class="uicSelectData" style="max-height:254px; min-height:25px; width:318px">
                                        <ul>
                                            <li class="tip" ng-repeat="delivery in deliveryList">
                                                <i ng-bind="delivery.name" ng-click="deliveryI(delivery)"></i>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="pageDiv" style="left: 0px; height: 25px; width: 318px; top: 23px; display: none;">
                                        <a class="prev disabled">&lt;</a>
                                        <i class="page" style="width: 248px;">1 / 4</i>
                                        <a class="next">&gt;</a></div>
                                </div>
                            </li>
                            <li id="field_dispath_mobile" class="li_form" style="width: 462px;">
                                <label for="dispath_mobile" class="editableLabel">
                                    <span class="red">*</span>联系电话：</label>
                                <input id="dispath_mobile" name="dispath_mobile" type="text" class="InpText f12 required" style="width: 308px;" ng-model="phoneTxt">
                            </li>
                        </ul>
                        <ul class="clearfix" style="position: relative; z-index: 296;">
                            <li id="field_dispath_plate_number" class="li_form uflow_searchtype" style="width: 462px; display: list-item;">
                                <label class="authoritylab  editableLabel" for="dispath_plate_number">
                                    <span style="color: red;">*</span>车牌号：</label>
                                <div class="searchtypeDiv selectDiv">
                                    <input id="dispath_plate_number" name="dispath_plate_number" class="searchtypeInp authorityInp uicSelectInp  required" style="width:308px" value="" ng-model="plateTxt" ng-focus="plateSelect()">
                                    <div class="searchtypeMore">
                                        <!-- <a class="loading" href="javascript:void(0);"></a> -->
                                    </div>
                                    <div id="plateShow" ng-show="plateShow" class="uicSelectData" style="max-height: 254px; min-height: 25px; width: 300px;">
                                        <ul>
                                            <li class="tip" ng-repeat="plate in plateList">
                                                <i ng-bind="plate.plateNumber" ng-click="plateI(plate)"></i>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="pageDiv" style="left: 0px; height: 25px; width: 318px; top: 23px; display: none;">
                                        <a class="prev disabled">&lt;</a>
                                        <i class="page" style="width: 248px;">1 / 4</i>
                                        <a class="next">&gt;</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- 发货单 -->
                    <div class="handprocess_order" ng-show="dispatchBill">
                        <h3 class="pr">发货单</h3>
                        <div id="anchor_发货单"></div>
                        <!-- 发货单按钮 -->
                        <ul class="clearfix" style="position: relative; z-index: 298;">
                            <li id="field_formDispatch" class="li_form" style="width: 924px;">
                                <div class="ld_receipt_information">
                                    <ul class="ld_receipt_information_head clearFix">
                                        <li class="ld_receipt_handle right clearFix">
                                            <a href="javascript:;" class="left " ng-click="addsalebill()">添加发货单</a>
                                            <a href="javascript:;" class="left" target="_blank" ui-sref="main.receive.new">创建发货单</a>
                                        </li>
                                    </ul>
                                    <div class="recevieDiv"></div>
                                </div>
                            </li>
                        </ul>
                        <!--发货单查询列表-->
                        <div id="allQuery_grid" cellpadding="0" cellspacing="0" border="0">
                            <div class="ultrapower-table-box">
                                <strong class="title">派车单查询</strong>
                                <div class="operation" style="display: none;"></div>
                                <div class="showbody" style="min-height: 450px; width: 100%;">
                                    <!-- 发货单信息 -->
                                    <div style="" class="advancedSearch">
                                        <div id="allQuery_search_div" style="">
                                            <ul class="clearfix">
                                                <li class="advancedSearch_li uic_form_select" id="searchCon_stationId" style="position: relative; z-index: 10300;">
                                                    <span class="authoritylab  editableLabel">发货单总数:</span>
                                                    <i class="selectDiv">10</i>
                                                </li>
                                                <li class="advancedSearch_li" id="searchCon_dispatchSn" style="position: relative; z-index: 298;">
                                                    <span class="editableLabel">客户总数:</span>
                                                    <i class="selectDiv">6</i>
                                                </li>
                                            </ul>
                                            <ul class="clearfix">
                                                <li class="advancedSearch_li uic_form_select" id="searchCon_stationId" style="position: relative; z-index: 10300;">
                                                    <span class="authoritylab  editableLabel">应收货款共:</span>
                                                    <i class="selectDiv">¥ 200.00</i>
                                                </li>
                                                <li class="advancedSearch_li" id="searchCon_dispatchSn" style="position: relative; z-index: 298;">
                                                    <span class="editableLabel">应收运费共:</span>
                                                    <i class="selectDiv">¥ 20.00</i>
                                                </li>
                                                <li class="advancedSearch_li" id="searchCon_dispatchSn" style="position: relative; z-index: 298;">
                                                    <span class="editableLabel">服务站应收共:</span>
                                                    <i class="selectDiv">¥ 20.00</i>
                                                </li>
                                                <li class="advancedSearch_li" id="searchCon_dispatchSn" style="position: relative; z-index: 298;">
                                                    <span class="editableLabel">配送员应收共:</span>
                                                    <i class="selectDiv">¥ 20.00</i>
                                                </li>
                                                <li class="advancedSearch_li" id="searchCon_dispatchSn" style="position: relative; z-index: 298;font-weight:bold">
                                                    <span class="editableLabel">小计:</span>
                                                    <i class="selectDiv">¥ 20.00</i>
                                                </li>
                                            </ul>
                                            <!-- <p class="advancedSearch_btn">
                                                <input id="advancedSearch_btn" class="submit" type="button" value="查询">
                                                <input id="reset_btn" class="submit" type="button" value="重置">
                                            </p> -->
                                        </div>
                                    </div>
                                    <!-- 发货单表格 -->
                                    <table class="showTable" cellpadding="0" cellspacing="0" border="0">
                                        <thead>
                                            <tr class="tit">
                                                <th level="0" infinity="101" leaf="0" rowspan="1">
                                                    <div style="width:99px">序号</div>
                                                </th>
                                                <th level="0" infinity="102" leaf="0" rowspan="1">
                                                    <div style="width:141.85px">发货单号/日期</div>
                                                </th>
                                                <th level="0" infinity="103" leaf="0" rowspan="1">
                                                    <div style="width:90.9px">应收代收货款</div>
                                                </th>
                                                <th level="0" infinity="104" leaf="0" rowspan="1">
                                                    <div style="width:90.9px">件数</div>
                                                </th>
                                                <th level="0" infinity="105" leaf="0" rowspan="1">
                                                    <div style="width:90.9px">应收运费</div>
                                                </th>
                                                <th level="0" infinity="106" leaf="0" rowspan="1">
                                                    <div style="width:90.9px">应收金额</div>
                                                </th>
                                                <th level="0" infinity="107" leaf="0" rowspan="1">
                                                    <div style="width:90.9px">平账金额</div>
                                                </th>
                                                <th level="0" infinity="108" leaf="0" rowspan="1">
                                                    <div style="width:90.9px">平账类型</div>
                                                </th>
                                                <th level="0" infinity="109" leaf="0" rowspan="1">
                                                    <div style="width:90.9px">备注</div>
                                                </th>
                                                <th level="0" infinity="109" leaf="0" rowspan="1">
                                                    <div style="width:90.9px">操作记录</div>
                                                </th>
                                                <th level="0" infinity="109" leaf="0" rowspan="1">
                                                    <div style="width:90.9px">状态</div>
                                                </th>
                                                <th class="thLast" level="0" infinity="110" leaf="0" rowspan="1">
                                                    <div style="width:90.9px">操作</div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="untrclick content" ng-repeat="invoice in invoiceList">
                                                <td style="width: 99px;">
                                                    <div class="uicNoClick" style="width: 99px; text-align: left;">
                                                        <span>
                                                            <code class="codeSpan">{{$index+1}}</code>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td style="width: 141.85px;">
                                                    <div class="uicNoClick" style="width: 141.85px; text-align: left;">
                                                        <span>
                                                          <code class="codeSpan">
                                                            <a class="row_a" href="javascript:void(0);" style="display:block;">
                                                              <font class="blue02">
                                                                <b ng-bind="invoice.numbers"></b>
                                                              </font>
                                                            </a>
                                                            <code class="codeSpan" ng-bind="invoice.createTime"></code>
                                                          </code>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td style="width: 90.9px;">
                                                    <div class="uicNoClick" style="width: 90.9px; text-align: left;">
                                                        <span>
                                                            <code class="codeSpan" ng-bind="invoice.collectionDelivery"></code>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td style="width: 90.9px;">
                                                    <div class="uicNoClick" style="width: 90.9px; text-align: left;">
                                                        <span>
                                                            <code class="codeSpan" ng-bind="invoice.goodsNumber"></code>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td style="width: 90.9px;">
                                                    <div class="uicNoClick" style="width: 90.9px; text-align: left;">
                                                        <span>
                                                            <code class="codeSpan" ng-bind="invoice.freightCharge"></code>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td style="width: 90.9px;">
                                                    <div class="uicNoClick" style="width: 90.9px; text-align: left;">
                                                        <span>
                                                            <code class="codeSpan" ng-bind="balanceDelivery({{invoice}})"></code>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td style="width: 90.9px;">
                                                    <div class="uicNoClick" style="width: 90.9px; text-align: left;">
                                                        <span>
                                                            <code id="balance" class="codeSpan" ng-bind="amount({{invoice.balanceInfo}})"></code>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td style="width: 90.9px;">
                                                    <div class="uicNoClick" style="width: 90.9px; text-align: left;">
                                                        <span>
                                                            <code class="codeSpan" ng-bind="invoice.balanceInfo[0].btype"></code>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td style="width: 90.9px;">
                                                    <div class="uicNoClick" style="width: 90.9px; text-align: left;">
                                                        <span>
                                                            <code class="codeSpan" ng-bind="remark({{invoice.balanceInfo}})"></code>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td style="width: 90.9px;">
                                                    <div class="uicNoClick" style="width: 90.9px; text-align: left;">
                                                        <span>
                                                            <code class="codeSpan" ng-bind="BOperate({{invoice.balanceInfo}})"></code>
                                                            <!-- <code class="codeSpan" ng-bind="invoice.balanceInfo[0].createUser"></code>对“<code class="codeSpan" ng-bind="invoice.balanceInfo[0].btype"></code>”做了平账处理 -->
                                                        </span>
                                                    </div>
                                                </td>
                                                <td style="width: 90.9px;">
                                                    <div class="cooperation" style="width: 90.9px; text-align: left;">
                                                        <code class="codeSpan" ng-bind="invoice.receivingStatus"></code>
                                                    </div>
                                                </td>
                                                <td class="tdLast" style="width: 90.9px;">
                                                    <div class="uicNoClick" style="width: 90.9px; text-align: left;">
                                                        <a href="javascript:;" class="backBtn" style="margin:0;">平账</span>
                                                        <a ng-click="handleDel($index)" href="javascript:;" class="backBtn Del" style="margin:0;">删除</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- <div class="pages">
                                    <ul class="pageUl ">
                                        <li>
                                            <label class="fristPage" style="cursor:default;background:none repeat scroll 0 0 #F1F1F1;border:1px solid #CCCCCC">上一页</label>
                                        </li>
                                        <li>
                                            <div>
                                                <ul>
                                                    <li>
                                                        <span>1</span></li>
                                                    <li>
                                                        <a href="javascript:;;">2</a></li>
                                                    <li>
                                                        <a href="javascript:;;">3</a></li>
                                                    <li>...</li>
                                                    <li>
                                                        <a href="javascript:;;">6</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <label class="endPage">下一页</label>
                                        </li>
                                        <li>
                                            <em>共48条数据</em></li>
                                    </ul>
                                </div> -->
                            </div>
                        </div>
                        <!--发货单查询列表-->
                    </div>
                </form>
                <!--按钮组-->
                <div class="handprocess_btngroup" id="bottom_button">
                    <!-- <input type="button" class="orange_btn33 cp" onmouseover="this.className='orange_btn33_hover cp'" onmouseout="this.className='orange_btn33 cp'" onClick="_submitProcess();" value="提交" />
                    <input type="button" class="grey_btn33 cp" onClick="_saveDraft();" value="保存草稿" />-->
                    <input type="button" value="提交" class="orange_btn33 cp" ng-click="submitNumber()">
                    <input type="button" class="grey_btn33 cp" value="提交并打印" />
                </div>
            </div>
            <!--锚点-->
            <div id="anchorDiv" class="body_right"></div>
        </div>
    </div>
</div>
<!--选择发货单弹出框-->
<div id="dialog-recevieDialog_window" class="dialogbox" style="width: 100%;height:100%;z-index:999999;position:fixed;top:0;left:0;" ng-show="sendcar">
    <div class="dialogbg" style="width:100%; height: 100%; filter: Alpha(opacity=20); background: #000; opacity: 0.2">
    </div>
    <div id="recevieDialog" class="dialog_message_box" style="width: 800px; height: 400px; position: fixed; left: 274.5px; top: 133.5px; opacity: 1;">
        <div class="dialog_message_title" style="padding: 0px 5px;">
            <h4>选择收货单</h4>
            <a href="javascript:void(0)" class="dialog_close" title="关闭"></a>
        </div>
        <div class="dialog_message_content" style="overflow: scroll; padding: 0px 5px; height: 335px;">
            <li class="clearfix">
                <div style="padding: 5px; width: 250px; display: block;" class="moc-li-div uic_form_select">
                    <label class="authoritylab  editableLabel" for="lineSelect" style="width: 60px;">其他线路：</label>
                    <div class="selectDiv" hidetype="false">
                        <input name="lineSelect" readonly="true" style="width:146px" class="authorityInp uicSelectInp" value="" infinityid="149">
                        <a class="uicSelectMore" href="javascript:void(0);" style="display: inline;"></a>
                        <div class="uicSelectData" style="max-height: 254px; width: 156px; display: none;">
                            <ul>
                                <li infinityname="姚桥 东区" infinityid="148">
                                    <i>姚桥 东区</i>
                                </li>
                                <li infinityname="西北" infinityid="149" class="licheck">
                                    <i>西北</i>
                                </li>
                                <li infinityname="西南" infinityid="150">
                                    <i>西南</i>
                                </li>
                                <li infinityname="飞象返货线" infinityid="154">
                                    <i>飞象返货线</i>
                                </li>
                                <li infinityname="西南长江路" infinityid="165">
                                    <i>西南长江路</i>
                                </li>
                                <li infinityname="高新区" infinityid="167">
                                    <i>高新区</i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div style="padding: 5px;width:250px" class="moc-li-div">
                    <label for="orderSnForSearch" class="editableLabel" style="width: 60px;">收货单号：</label>
                    <input id="orderSnForSearch" name="orderSnForSearch" type="text" class="InpText f12" maxlength="256" style="width: 146px;">
                </div>
                <div style="padding: 5px; width: 240px; display: block;" class="moc-li-div uic_form_select">
                    <label class="authoritylab  editableLabel" for="lineSelect" style="width: 60px;">是否派车：</label>
                    <div class="selectDiv">
                        <input name="lineSelect" readonly="true" style="width:146px" class="authorityInp uicSelectInp" value="" infinityid="">
                        <a class="uicSelectMore" href="javascript:void(0);" style="display: inline;"></a>
                        <div class="uicSelectData" style="max-height:254px;width:156px">
                            <ul>
                                <li infinityname="未派车" infinityid="0">
                                    <i>未派车</i>
                                </li>
                                <li infinityname="已派车" infinityid="1">
                                    <i>已派车</i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="clearfix">
                <div style="padding: 5px;width:250px;" class="moc-li-div">
                    <label for="receiveForSearch" class="editableLabel" style="width: 60px;">收货方：</label>
                    <input id="receiveForSearch" name="receiveForSearch" type="text" class="InpText f12" maxlength="256" style="width: 146px;">
                </div>
                <div style="padding: 5px;width:250px;" class="moc-li-div">
                    <label for="consignerForSearch" class="editableLabel" style="width: 60px;">发货方：</label>
                    <input id="consignerForSearch" name="consignerForSearch" type="text" class="InpText f12" maxlength="256" style="width: 146px;">
                </div>
                <div style="padding: 5px;width:240px;" class="moc-li-div">
                    <label for="consignerForSearch" class="editableLabel" style="width: 60px;">班次：</label>
                    <input id="consignerForSearch" name="consignerForSearch" type="text" class="InpText f12" maxlength="256" style="width: 146px;">
                </div>
            </li>
            <table class="table" cellpadding="0" cellspacing="0" width="100%" style="width: 770px;">
                <tbody>
                    <tr>
                        <th width="3%">
                            <input name="orderALL" type="checkbox">
                        </th>
                        <th width="14%">发货单号</th>
                        <th width="15%">发货方</th>
                        <th width="15%">收货方</th>
                        <th width="15%">收货地址</th>
                        <th width="13%">班次</th>
                        <th width="8%">代收货款</th>
                        <th width="10%">状态</th>
                    </tr>
                    <tr>
                        <td>
                            <input name="order" type="checkbox" id="124975">
                        </td>
                        <td>
                            <a style="text-decoration: none;" href="process.do?method=view&amp;processId=315738" target="_blank">SE000162016102500112</a></td>
                        <td>忠诚汽配</td>
                        <td>鹏海名车维修</td>
                        <td>桐柏路西站路交叉口向北100米路东</td>
                        <td>西北-16:30</td>
                        <td>0</td>
                        <td>未派车</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="dialog_button" style="padding: 0px 5px;">
            <a href="javascript:void(0)" class="dialog_button_0">确定</a>
            <a href="javascript:void(0)" class="dialog_button_1" ng-click="cancel()">取消</a>
        </div>
    </div>
</div>
<!--选择发货单弹出框-->
